body {
    background: #2a1a36;
    margin: 0;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

.start {
    outline: none;
    border: 2px solid #fff;
    background: #806e91;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: .3s ease-in-out;
}

.start:hover {
    border: 2px solid #fff;
    background: #a8a3ad;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    transition: margin .3s ease-in-out;
    background: linear-gradient(to top, #4d4852, #541a8f)
}

.screen.up {
    margin-top: -100vh;
}

h1 {
    color: #fff;
    line-height: 1.4;
    font-size: 4rem;
}

.time-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    list-style: none;
}

.time-list li {
    margin: 10px;
}

.time-btn {
    outline: none;
    border: 2px solid #fff;
    background: #806e91;
    padding: .5rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition: .3s ease-in-out;
    color: #fff;
}

.time-btn:hover {
    border: 2px solid #fff;
    background: #a8a3ad;
}

.hide {
    opacity: 0;
}

.primary {
    color: #9326ff;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    background: linear-gradient(to top, #d4b3f5, #b77ff0);
    border-radius: 10px;
}

.circle {
    background: linear-gradient(to top, #d45dd0, #b528a0);
    border-radius: 40px;
    position: absolute;
    cursor: pointer;
}